*:not(input):not(textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select:   none;
}

body {
    margin:           0;
    padding:          0;
    overflow:         hidden;
    display:          flex;
    align-items:      center;
    justify-content:  center;
    background-color: #ebebeb;
    height:           100vh;
}

#screen {
    width:         90vmin;
    height:        90vmin;
    border-radius: 5px;
    border:        2px solid #d0d0d0;
}
